@font-face {
  font-family: 'Nunito';
  font-display: auto;
  src: url('https://fonts.googleapis.com/css?family=Nunito');
}

body {
  font-family: 'Nunito', sans-serif;
  color: #575757;
  height: 100%;
  width: 100%;
}

.page-enter,
/* Makes page disappear immediately */
.page-leave-active {
  opacity: 0;
}

/* eases in a bit smoother */
.page-enter-active {
  transition: opacity 0.3s ease-in;
}
